<%= form_for(@plaque) do |f| %>
  <% if @plaque.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plaque.errors.count, "error") %> prohibited this plaque from being saved:</h2>

      <ul>
      <% @plaque.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
