<%if notice%>
  <p id="notice"><%= notice %></p>
<%end%>


<h1>"Pico y placa" predictor</h1>

<%= form_tag('/plaques/can_circulate', :method => 'get') do |f| %>
  <div class="field">
    <%= label_tag :number, "Plaque" %><br>
    <%= text_field_tag :number, params[:number] %>
  </div>

  <div class="field">
    <%= label_tag :date, "Date (ex. 2011-05-19 10:30:14)" %><br>
    <%= text_field_tag :date, @date %>
  </div>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>


