// Place all the styles related to the Plaques controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#notice{
	border: 1px solid orange;
    padding: 10px;
    text-align: center;
    color: orange !important;
}
